.cover {
  height: 600px;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,.01), rgba(0,0,0,.01)), asset-url('cover.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.photo-form {
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.ligne-beige {
  height: 6rem;
  background-color: #E8D7BF;
}

.invit {
  width: 600px;
}

.photo-couple {
  border: 1rem solid #A17848;
  width: 600px;
  margin: 1rem;
  object-fit: cover;
}

.adress {
  background-color: #E8D7BF;
  padding: 3rem;
}

.places {
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.places-photo {
  width: 400px;
}

.titre {
 font-family: "dancing script";
 color: white;
 font-size: 48px;
}

.form-guest {
  border-radius: 16px;
  background-color: #E8D7BF;
  color: #A94B2D;
  width: 600px;
  padding: 2rem;
  margin: 1rem;
}

.ecriture-form {
  font-family: "dancing script";
  font-size: 28px;
}

#guest_first_name {
  margin-bottom: 2rem;
}

.lover-form {
  margin-bottom: 1rem;
}

#guest_last_name {
  margin-bottom: 2rem;
}

#guest_children {
  margin-bottom: 2rem;
}
.radio_buttons {
  display: inline-flex;
}

.bouton {
  background-color: #A94B2D;
  border-radius: 15px;
  text-decoration: none;
  box-shadow: none;
  padding: 2rem;
  font-family: "dancing script";
  color: white;
  font-size: 28px;
  box-decoration-break: none;
  box-shadow: none;
  border: none;
}

input {
  white-space: normal;
  -webkit-appearance: none;
    width: 500px;
}


@media(max-width: 768px) {
  .photo-form {
    display: grid;
  }

  .places {
    display: grid;
  }

  .places-photo {
  width: 300px;
  margin: 1rem;
  }

  .invit {
    width: 370px;
  }

  .form-guest{
    width: 300px;
  }

  .photo-couple {
    width: 300px;
  }

  input {
    width: 300px;
  }

}

